@import "tailwindcss";

:root {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	--accent: #7c3aed;
	/* roxo */
}

.glass {
	background: rgba(255, 255, 255, 0.06);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}